:root{
    --font-size-p: 1.3rem;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: BlinkMacSystemFont, Segoe UI, Roboto, Lato, Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    font-size: var("--font-size-p");
}
/*Sprites utilizados en todo el sitio web*/
.sprite{
    background-image: url("https://www.wikipedia.org/portal/wikipedia.org/assets/img/sprite-d7502d35.svg");
    background-repeat: no-repeat;
    display: inline-block;
}
/*Main*/
.main{
    padding-top: 50px;
    height: auto;
    /* background-color: coral; */
}
/*main-wiki*/
main .main-wiki{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(163, 216, 241); */
    padding: 0 15px 30px;
}
/*wiki-logo*/
.main .main-wiki .wiki-logo{
    order: 1;
}
.main .main-wiki .wiki-logo .wiki-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-title-container{
    text-align: center;
}
/*Logo - img/title */
main .main-wiki .wiki-img-container img{
    width: 60px;
}
main .main-wiki .main-title-container .main-title-img{
    width: 176px;
    height: 31px;
    background-position: 0 -255px;
    display: block;
}
main .main-wiki .main-title-container .main-subtitle{
    font-family: Linux Libertine, Georgia, Times, serif;
    font-size: 1.5rem;
    font-weight: 400;
}
/*wiki-search*/
main .main-wiki .wiki-search{
    order: 2;
    /* background-color: brown; */
    width: 95vw;
    max-width: 450px;
    margin-top: 10px;
    margin-bottom: 20px;
}
main .main-wiki .wiki-search .wiki-search-container{
    display: flex;
    justify-content: center;
    /* background-color: blueviolet; */
    height: 45px;
    border: 1px solid #dcdee1;
    border-radius: 3px;
    /* outline: #3366cc; */
}
main .main-wiki .wiki-search .wiki-search-container:hover{
    /* box-shadow: 0 1px 6px 0 #20212447; */
    border-color: #a6aaad;
    cursor: pointer;
}
main .main-wiki .wiki-search .wiki-search-container:focus-within{
    border-color: #36c;
}
main .main-wiki .wiki-search .wiki-search-container .wiki-search-input{
    width: 100%;
    margin-left: 10px;
    border: none;
    outline: none;
}
main .main-wiki .wiki-search .wiki-search-container .wiki-search-idiom{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: sandybrown; */
}
main .main-wiki .wiki-search .wiki-search-idiom .wiki-search-idiom-arrow{
    height: 11px;
    width: 13px;
    background-position: 0 -519px;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    /* background-color: seagreen; */
}
main .main-wiki .wiki-search .wiki-search-container .wiki-search-button{
    width: 70px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background-color: #36c;
    background-image: url("./assets/icon/wiki-lupa.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}
main .main-wiki .wiki-search .wiki-search-container .wiki-search-button:hover{
    background-color: #447ff5;
}
/*wiki-idiom*/
main .main-wiki .wiki-idiom{
    order: 3;
}
main .main-wiki .wiki-idiom .wiki-idiom-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 450px;
}
main .main-wiki .wiki-idiom .wiki-idiom-container .wiki-idiom-item{
    width: 33.33%;
    height: 75px;
    min-width: 90px;
    text-align: center;
    background-color: red;
    padding: 5px;
}
main .main-wiki .wiki-idiom .wiki-idiom-container .wiki-idiom-item .main-idiom-link{
    background-color: cornflowerblue;
}
main .main-wiki .wiki-idiom .wiki-idiom-container .wiki-idiom-item a.main-idiom-link{
    text-decoration: none;
}
/*wiki-select*/
main .main-wiki .wiki-select{
    order: 4;
    background-color: violet;
    height: 35px;
    width: auto;
}
main .main-wiki .wiki-select .wiki-select-container{
    display: flex;
}
main .main-wiki .wiki-select .wiki-select-container .wiki-select-container-button{
    /* background-color: red;
    height: 400px;  */
}
main .main-wiki .wiki-select .wiki-select-container-divider{
    height: 1px;
    width: 80%;
    max-width: 80px;
    background-color: #c8ccd1;
}
/*main-apps*
/
/*Footer Container*/
.footer{
    display: flexbox;
}
/*Footer Description*/
footer .footer-description{
    background-color: cornflowerblue;
}
footer .footer-description .footer-description-img{
    width: 42px;
    height: 42px;
    background-position: 0 -212px;
    background-color: rgb(183, 246, 124);
}
/*Footer Download*/
footer .footer-wikipedia-download{
    background-color: darkkhaki;
}
footer .footer-wikipedia-download .footer-download-img{
    width: 42px;
    height: 42px;
    background-position: 0 -719px;
    background-color: rgb(183, 246, 124);
}
footer .footer-wikipedia-download .download-img-google{
    width: 124px;
    height: 36px;
    background-position: 0 -542px;
    background-color: rgb(183, 246, 124);
}
footer .footer-wikipedia-download .download-img-apple{
    width: 110px;
    height: 36px;
    background-position: 0 -580px;
    background-color: rgb(183, 246, 124);
}
/*Footer Apps*/
/* footer .footer-wikipedia-apps{
    
} */
/*Footer Politics*/
footer .footer-politics{
    text-align: center;
    background-color: deepskyblue;
    padding: 40px 15px 25px;
}
footer .footer-politics p.license{
    font-weight: 400;
}
footer .footer-politics a{
    text-decoration: none;
}
footer .footer-politics a.next-politic::after{
    content: "\2022";
    margin: 0 5px;
}

footer .footer-description{
    order: 2;
}
footer .footer-wikipedia-download{
    order: 1;
} 
